# Arquivos gerados pelo sistema de compilação
/_build/
/cover/
/deps/
/priv/static/*

# Configuração do Mix
/*.seed

# Configuração do ambiente
/erl_crash.dump
/*.log
/logs/
/log/*
/*.log.*
/*.log
/.elixir_ls/

# Dependências e artefatos de compilação
/.eunit/
/ebin/
/rel/
/*.ez
/*.app
/*.beam
/*.tar.gz

# Arquivos de configuração local
/dev/dev.secret.exs
/config/*.secret.exs
/test/support/data_loader.ex

/data/*
