version: "3.8"

services:
  app_service:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${APP_IMAGE_NAME}
    container_name: ${APP_CONTAINER_NAME}
    tty: true
    stdin_open: true
    volumes:
      - .:/app
    restart: on-failure
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      POOL_SIZE: ${POOL_SIZE}
      PORT: ${APP_PORT}
    ports:
      - "4000:${APP_PORT}"
    networks:
      - app_net
    depends_on:
      - db_service

  db_service:
    image: postgres:alpine
    container_name: ${DB_CONTAINER_NAME}
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${HOST_PORT}:${POSTGRES_PORT}"
      # volumes:
      # - ./data:/var/lib/postgresql/data
    networks:
      - app_net

networks:
  app_net:
    name: app_net
    driver: bridge
